#playground{
    display: block;
    float:left;
    width:500px;
    height:500px;
}

#board,#fountainContainer{
    width:330px;
    height:330px;
    float:left;
}

.cells{
    width:100px;
    height:100px;
    position: relative;
    float:left;
    border: 1px solid #008b8b;

    font-size: 4em;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;;
    line-height: 1.5em;
    background-color: #f8f8ff;
}

.cells:hover{
    transform: scale(1.03);
    -ms-transform: scale(1.03); /* IE 9 */
    -webkit-transform: scale(1.03); /* Safari and Chrome */
}

.O{
    color:#B94A48;
}

.X{
    color:#6495ed;
}

#message{
    width:500px;
    height:300px;
    background-color: #fffff0;
    color:#f08080;
    clear: both;
}
#message li{
    list-style: none;
}

/*
 * CSS Loding
 */

#fountainContainer{
    position:absolute;
    background-color: #000000;
    opacity: 0.7;
}

#fountainG{
    width: 330px;
    height: 50px;
    position: absolute;
    top: 130px;
    left: 10px;
}

.fountainG{
    position:absolute;
    top:0;
    background-color:#86BDA9;
    width:29px;
    height:29px;
    -moz-animation-name:bounce_fountainG;
    -moz-animation-duration:0.9s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -moz-transform:scale(.3);
    -moz-border-radius:19px;
    -webkit-animation-name:bounce_fountainG;
    -webkit-animation-duration:0.9s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -webkit-transform:scale(.3);
    -webkit-border-radius:19px;
    -ms-animation-name:bounce_fountainG;
    -ms-animation-duration:0.9s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -ms-transform:scale(.3);
    -ms-border-radius:19px;
    -o-animation-name:bounce_fountainG;
    -o-animation-duration:0.9s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    -o-transform:scale(.3);
    -o-border-radius:19px;
    animation-name:bounce_fountainG;
    animation-duration:0.9s;
    animation-iteration-count:infinite;
    animation-direction:linear;
    transform:scale(.3);
    border-radius:19px;
}

#fountainG_1{
    left:0;
    -moz-animation-delay:0.36s;
    -webkit-animation-delay:0.36s;
    -ms-animation-delay:0.36s;
    -o-animation-delay:0.36s;
    animation-delay:0.36s;
}

#fountainG_2{
    left:30px;
    -moz-animation-delay:0.45s;
    -webkit-animation-delay:0.45s;
    -ms-animation-delay:0.45s;
    -o-animation-delay:0.45s;
    animation-delay:0.45s;
}

#fountainG_3{
    left:60px;
    -moz-animation-delay:0.54s;
    -webkit-animation-delay:0.54s;
    -ms-animation-delay:0.54s;
    -o-animation-delay:0.54s;
    animation-delay:0.54s;
}

#fountainG_4{
    left:90px;
    -moz-animation-delay:0.63s;
    -webkit-animation-delay:0.63s;
    -ms-animation-delay:0.63s;
    -o-animation-delay:0.63s;
    animation-delay:0.63s;
}

#fountainG_5{
    left:120px;
    -moz-animation-delay:0.72s;
    -webkit-animation-delay:0.72s;
    -ms-animation-delay:0.72s;
    -o-animation-delay:0.72s;
    animation-delay:0.72s;
}

#fountainG_6{
    left:150px;
    -moz-animation-delay:0.81s;
    -webkit-animation-delay:0.81s;
    -ms-animation-delay:0.81s;
    -o-animation-delay:0.81s;
    animation-delay:0.81s;
}

#fountainG_7{
    left:180px;
    -moz-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -o-animation-delay:0.9s;
    animation-delay:0.9s;
}

#fountainG_8{
    left:210px;
    -moz-animation-delay:0.99s;
    -webkit-animation-delay:0.99s;
    -ms-animation-delay:0.99s;
    -o-animation-delay:0.99s;
    animation-delay:0.99s;
}

#fountainG_9{
    left:240px;
    -moz-animation-delay:0.99s;
    -webkit-animation-delay:0.99s;
    -ms-animation-delay:0.99s;
    -o-animation-delay:0.99s;
    animation-delay:0.99s;
}

#fountainG_10{
    left:270px;
    -moz-animation-delay:0.99s;
    -webkit-animation-delay:0.99s;
    -ms-animation-delay:0.99s;
    -o-animation-delay:0.99s;
    animation-delay:0.99s;
}

@-moz-keyframes bounce_fountainG{
    0%{
        -moz-transform:scale(1);
        background-color:#86BDA9;
    }

    100%{
        -moz-transform:scale(.3);
        background-color:#FFFFFF;
    }

}

@-webkit-keyframes bounce_fountainG{
    0%{
        -webkit-transform:scale(1);
        background-color:#86BDA9;
    }

    100%{
        -webkit-transform:scale(.3);
        background-color:#FFFFFF;
    }

}

@-ms-keyframes bounce_fountainG{
0%{
-ms-transform:scale(1);
background-color:#86BDA9;
}

100%{
-ms-transform:scale(.3);
background-color:#FFFFFF;
}

}

@-o-keyframes bounce_fountainG{
    0%{
        -o-transform:scale(1);
        background-color:#86BDA9;
    }

    100%{
        -o-transform:scale(.3);
        background-color:#FFFFFF;
    }

}

@keyframes bounce_fountainG{
    0%{
        transform:scale(1);
        background-color:#86BDA9;
    }

    100%{
        transform:scale(.3);
        background-color:#FFFFFF;
    }

}



