#chatBox{
    float:left;width:300px;height:250px;overflow:scroll-y;padding:10px;
    overflow: scroll;
}

#conversation{

}

/*
    override bootstrap
*/

.modal{
    width:360px !important;
    margin-left:-180px !important;  /* 360/2 = 180 */
}

.bootBox.modal-body form.input{
    width:300px;
}