

#playground{
    /*display: block;*/
    /*float:left;*/
    /*width:500px;*/
    /*height:500px;*/
}

#board,#fountainContainer,.winnerLine{
    width:252px;
    height:252px;
    display: block;
    /*margin-top:10px;*/
    margin: 10px auto;
    float:left;
    -moz-box-shadow:    0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow:         0 0 10px #000000;
}

.cells{
    width:80px;
    height:80px;
    position: relative;
    float:left;
    /*border: 3px solid #008b8b;*/
    border: 3px solid #110f11;
    font-size: 4em;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;;
    line-height: 1.5em;
    cursor:pointer;;
    /*background-color: #f8f8ff;*/
}

.cells:hover{
    -moz-box-shadow:    0 0 5px #000000;
    -webkit-box-shadow: 0 0 5px #000000;
    box-shadow:         0 0 5px #000000;

}


/*.cells:hover{*/
    /*transform: scale(1.03);*/
    /*-ms-transform: scale(1.03); *//* IE 9 */
    /*-webkit-transform: scale(1.03); *//* Safari and Chrome */
/*}*/

#c1,#c2,#c3{
    border-top:0px;
}
#c1,#c4,#c7{
    border-left:0px;
}
#c3,#c6,#c9{
    border-right:0px;
}
#c7,#c8,#c9{
    border-bottom:0px;
}

.O,.X{
    display: block;

}
.O{

    color:#0FC0F8;
    text-shadow: 1px 1px black, -1px -1px #444;

    -webkit-animation: scale 0.5s ease-in-out;
    -moz-animation: scale 0.5s ease-in-out;
    -o-animation: scale 0.5s ease-in-out;
    -ms-animation: scale 0.5s ease-in-out;
    animation: scale 0.5s ease-in-out;
}

.X{
    color:#F0340E;
    text-shadow: 1px 1px black, -1px -1px #444;

    -webkit-animation: scale 0.5s ease-in-out;
    -moz-animation: scale 0.5s ease-in-out;
    -o-animation: scale 0.5s ease-in-out;
    -ms-animation: scale 0.5s ease-in-out;
    animation: scale 0.5s ease-in-out;
}
.inactive{
    color:#080808;
}

.symbol{
}

.winner{
    -webkit-animation: scale 1s ease-in-out infinite;
    -moz-animation: scale 1s ease-in-out infinite;
    -o-animation: scale 1s ease-in-out infinite;
    -ms-animation: scale 1s ease-in-out infinite;
    animation: scale 1s ease-in-out infinite;
}

#message{
    width:500px;
    height:300px;
    background-color: #fffff0;
    color:#f08080;
    clear: both;
}
#message li{
    list-style: none;
}

/*
    Current Player
 */
#currentPlayer{
    height:270px;
}
.host,.opponent,.yourName,.opponentName,.symbolCircle,.vs{
    display: block;
    z-index: 10;
}
.host,.opponent{
    /*height:30px;*/
    /*margin: 0 0 10px 0;*/
    height:40%;
}

.yourName,.opponentName,.vs{
    text-align: center;
    font-size: 2.7em;
    font-family: "League Gothic",'Zawgyi-One';
}
.yourName{
}
.opponentName{
}
.vs{
    font-size: 3.5em;
    height:20%;
    text-shadow: 0px 2px 0 rgba(255,255,255,.1);
}

.symbolCircle{
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    line-height: 38px;
    width: 40px;
    height: 40px;
    margin: 5px auto;
}

.circleRound{-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;}
.circleRoundShadow{text-shadow: 0 1px 0 rgba(255,255,255,.1);}
.activePlayer,.circleRoundShadow:hover{text-shadow: 0 1px 0.2em rgba(255,255,255,.1), 0 0 0.2em rgba(255,255,255,.1),0 0 0.2em rgba(255,255,255,.1);  }
.middle{padding:8% 0;}



/*
 * Skin color. For easier skin management later
 */
.skinBlack{
    color: #080808;
}

.gradientRoundedBoxBottom{
    position:absolute;
    width:7%;
    height: 10%;
    display: block;
    left: 80px;
    bottom:-30px;
    /*bottom:0px;*/
    z-index: 1;
    opacity: 0.2;
    background-color: rgba(255,255,255,0.74);

    border-radius: 200px 200px 10px 10px;
    -moz-border-radius: 200px 200px 10px 10px;
    -webkit-border-radius: 200px 200px 10px 10px;
    /*border: 0px solid #000000;*/

    -webkit-box-shadow: 0px 0px 81px 44px rgba(255,255,255,0.74);
    -moz-box-shadow: 0px 0px 81px 44px rgba(255,255,255,0.74);
    box-shadow: 0px 0px 81px 44px rgba(255,255,255,0.74);
}

.gradientRoundedBoxTop{
    position:absolute;
    width:7%;
    height: 10%;
    display: block;
    left: 80px;
    top:-30px;
    /*bottom:0px;*/
    z-index: 1;
    opacity: 0.2;
    background-color: rgba(255,255,255,0.74);

    border-radius: 10px 10px 200px 200px;
    -moz-border-radius: 10px 10px 200px 200px;
    -webkit-border-radius: 10px 10px 200px 200px;
    /*border: 0px solid #000000;*/

    -webkit-box-shadow: 0px 0px 81px 44px rgba(255,255,255,0.74);
    -moz-box-shadow: 0px 0px 81px 44px rgba(255,255,255,0.74);
    box-shadow: 0px 0px 81px 44px rgba(255,255,255,0.74);
}

/*
 * Winner Line.
 * Not using for current period
 */

.winnerLine{
    background-color:#CCCCCC;

    /*width: 506px;*/
    text-align: center;
    /*padding: 6%;*/
    position: absolute;
    margin-left:0px;
    top:205px; /* 30, 115, 205     */
    /*width:130px;*/
    height: 4%;
    transform: rotate(45deg); /*45, 90 135*/  /* 120, 90, 135 */
    -webkit-transform: rotate(45deg);
    /*mar*/
}

/*
 * X/O Hover Animation
 */
@keyframes mySymbolActiveAni
{
    from{line-height: 56px;text-shadow: 0 1px 0 rgba(255,255,255,.1);}
    to{line-height: 52px;text-shadow: 0 5px 0 rgba(255,255,255,.1);}
}
@-moz-keyframes mySymbolActiveAni
{
    from{line-height: 56px;text-shadow: 0 1px 0 rgba(255,255,255,.1);}
    to{line-height: 52px;text-shadow: 0 5px 0 rgba(255,255,255,.1);}
}
@-webkit-keyframes mySymbolActiveAni
{
    from{line-height: 56px;text-shadow: 0 1px 0 rgba(255,255,255,.1);}
    to{line-height: 52px;text-shadow: 0 5px 0 rgba(255,255,255,.1);}
}
/*Hover*/
@keyframes mySymbolNormalAni
{
    from{line-height: 52px;text-shadow: 0 5px 0 rgba(255,255,255,.1);}
    to{line-height: 56px;text-shadow: 0 1px 0 rgba(255,255,255,.1);}
}
@-moz-keyframes mySymbolNormalAni
{
    from{line-height: 52px;text-shadow: 0 5px 0 rgba(255,255,255,.1);}
    to{line-height: 56px;text-shadow: 0 1px 0 rgba(255,255,255,.1);}
}
@-webkit-keyframes mySymbolNormalAni
{
    from{line-height: 52px;text-shadow: 0 5px 0 rgba(255,255,255,.1);}
    to{line-height: 56px;text-shadow: 0 1px 0 rgba(255,255,255,.1);}
}

/*
 * CSS Loding
 */

#fountainContainer{
    position:absolute;
    background-color: #000000;
    opacity: 0.5;
}

#fountainG{
    width: 330px;
    height: 50px;
    position: absolute;
    top: 110px;
    left: 10px;
}

.fountainG{
    position:absolute;
    top:0;
    background-color:#86BDA9;
    width:29px;
    height:29px;
    -moz-animation-name:bounce_fountainG;
    -moz-animation-duration:0.9s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -moz-transform:scale(.3);
    -moz-border-radius:19px;
    -webkit-animation-name:bounce_fountainG;
    -webkit-animation-duration:0.9s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -webkit-transform:scale(.3);
    -webkit-border-radius:19px;
    -ms-animation-name:bounce_fountainG;
    -ms-animation-duration:0.9s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -ms-transform:scale(.3);
    -ms-border-radius:19px;
    -o-animation-name:bounce_fountainG;
    -o-animation-duration:0.9s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    -o-transform:scale(.3);
    -o-border-radius:19px;
    animation-name:bounce_fountainG;
    animation-duration:0.9s;
    animation-iteration-count:infinite;
    animation-direction:linear;
    transform:scale(.3);
    border-radius:19px;
}

#fountainG_1{
    left:0;
    -moz-animation-delay:0.36s;
    -webkit-animation-delay:0.36s;
    -ms-animation-delay:0.36s;
    -o-animation-delay:0.36s;
    animation-delay:0.36s;
}

#fountainG_2{
    left:30px;
    -moz-animation-delay:0.45s;
    -webkit-animation-delay:0.45s;
    -ms-animation-delay:0.45s;
    -o-animation-delay:0.45s;
    animation-delay:0.45s;
}

#fountainG_3{
    left:60px;
    -moz-animation-delay:0.54s;
    -webkit-animation-delay:0.54s;
    -ms-animation-delay:0.54s;
    -o-animation-delay:0.54s;
    animation-delay:0.54s;
}

#fountainG_4{
    left:90px;
    -moz-animation-delay:0.63s;
    -webkit-animation-delay:0.63s;
    -ms-animation-delay:0.63s;
    -o-animation-delay:0.63s;
    animation-delay:0.63s;
}

#fountainG_5{
    left:120px;
    -moz-animation-delay:0.72s;
    -webkit-animation-delay:0.72s;
    -ms-animation-delay:0.72s;
    -o-animation-delay:0.72s;
    animation-delay:0.72s;
}

#fountainG_6{
    left:150px;
    -moz-animation-delay:0.81s;
    -webkit-animation-delay:0.81s;
    -ms-animation-delay:0.81s;
    -o-animation-delay:0.81s;
    animation-delay:0.81s;
}

#fountainG_7{
    left:180px;
    -moz-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -o-animation-delay:0.9s;
    animation-delay:0.9s;
}

#fountainG_8{
    left:210px;
    -moz-animation-delay:0.99s;
    -webkit-animation-delay:0.99s;
    -ms-animation-delay:0.99s;
    -o-animation-delay:0.99s;
    animation-delay:0.99s;
}

@-moz-keyframes bounce_fountainG{
    0%{
        -moz-transform:scale(1);
        background-color:#86BDA9;
    }

    100%{
        -moz-transform:scale(.3);
        background-color:#FFFFFF;
    }

}

@-webkit-keyframes bounce_fountainG{
    0%{
        -webkit-transform:scale(1);
        background-color:#86BDA9;
    }

    100%{
        -webkit-transform:scale(.3);
        background-color:#FFFFFF;
    }

}

@-ms-keyframes bounce_fountainG{0%{-ms-transform:scale(1);background-color:#86BDA9;}100%{-ms-transform:scale(.3);background-color:#FFFFFF;}}
@-o-keyframes bounce_fountainG{    0%{        -o-transform:scale(1);        background-color:#86BDA9;    }    100%{        -o-transform:scale(.3);        background-color:#FFFFFF;   }}
@keyframes bounce_fountainG{    0%{        transform:scale(1);        background-color:#86BDA9;    }    100%{        transform:scale(.3);        background-color:#FFFFFF;    }}


/*
 *  Rotate Animaton
 */
@-webkit-keyframes rotate {    from {        -webkit-transform: rotate(0deg);    }    to {        -webkit-transform: rotate(360deg);    }}
@-moz-keyframes rotate {    from {        -moz-transform: rotate(0deg);    }    to {        -moz-transform: rotate(360deg);    }}
@-o-keyframes rotate {    from {        -o-transform: rotate(0deg);    }    to {        -o-transform: rotate(360deg);    }}
@-ms-keyframes rotate {  from {    -ms-transform: rotate(0deg);  }  to {    -ms-transform: rotate(360deg);  }}
@keyframes rotate {    from {        transform: rotate(0deg);    }    to {        transform: rotate(360deg);    }}

.rotate-animation {
    -webkit-animation: rotate 1s linear 0 normal;
    -moz-animation: rotate 1s linear 0s normal;
    -o-animation: rotate 1s linear 0 normal;
    -ms-animation: rotate 1s linear 0 normal;
    animation: rotate 1s linear 0 normal;
}

/*
 *  Scale Animation
 */

/*@-webkit-keyframes scale{    from {        -webkit-transform: scale(1);    }    to {        -webkit-transform: scale(1.3);    }}*/
/*@-moz-keyframes scale{    from {        -moz-transform: scale(1);    }    to {        -moz-transform: scale(1.3);   }}*/
/*@-o-keyframes scale{    from {        -o-transform: scale(1);    }    to {        -o-transform: scale(1.3);    }}*/
/*@-ms-keyframes scale{  from {    -ms-transform: scale(1);  }  to {    -ms-transform: scale(1.3); }}*/
/*@keyframes scale{    from {        transform: scale(1);  }    to {        transform: scale(1.3); }}*/

@-webkit-keyframes scale{
    0% {        -webkit-transform: scale(1);    }
    50% {        -webkit-transform: scale(1.3);    }
    100% {        -webkit-transform: scale(1);    }
}
@-moz-keyframes scale{
    0% {        -moz-transform: scale(1);    }
    50% {        -moz-transform: scale(1.3);    }
    100% {        -moz-transform: scale(1);    }
}
@-o-keyframes scale{
    0% {        -o-transform: scale(1);    }
    50% {        -o-transform: scale(1.3);    }
    100% {        -o-transform: scale(1);    }
}
@-ms-keyframes scale{
    0% {        -ms-transform: scale(1);    }
    50% {        -ms-transform: scale(1.3);    }
    100% {        -ms-transform: scale(1);    }
}
@keyframes scale{
    0% {        transform: scale(1);    }
    50% {        transform: scale(1.3);    }
    100% {        transform: scale(1);    }
}

/*
 * Bouncy Ball
 */

@-webkit-keyframes bouncyBall{
    0% {        -webkit-transform: scale(1);     }
    50% {        -webkit-transform: scale(1.3);    }
    100% {        -webkit-transform: scale(1);    }
}
@-moz-keyframes bouncyBall{
    0% {        -webkit-transform: scale(1);    }
    50% {        -webkit-transform: scale(1.3);    }
    100% {        -webkit-transform: scale(1);    }
}
@-o-keyframes bouncyBall{
    0% {        -webkit-transform: scale(1);    }
    50% {        -webkit-transform: scale(1.3);    }
    100% {        -webkit-transform: scale(1);    }
}
@-ms-keyframes bouncyBall{
    0% {        -webkit-transform: scale(1);    }
    50% {        -webkit-transform: scale(1.3);    }
    100% {        -webkit-transform: scale(1);    }
}
@keyframes bouncyBall{
    0% {        -webkit-transform: scale(1);    }
    50% {        -webkit-transform: scale(1.3);    }
    100% {        -webkit-transform: scale(1);    }
}