body,div,ul,ol,li,th,h1 {
    margin:0;
    padding:0;
}

ol,ul {
    list-style:none;
}

body {
    margin: 0 auto;
    padding: 0 150px;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    /*background: #e6e6e6 url(images/back.jpg) repeat-x top left;*/
    background-color: transparent;
    color: #8c8a8a;
}

a {
    text-decoration: none;
}

a:focus {
    outline: 0;
}

#header {
    background: url(images/backhead.png) no-repeat left top;
    min-width: 800px;
    height: 125px;
    padding-top: 25px;
    text-align: center;
}

#header h1 a {
    font-size: 44px;
    color: #eee;
    text-shadow: 2px 2px 2px #000;
}

#header h1 a:hover{
    color: #ccc;
}

#downhead {
    min-width: 800px;
    margin-top: 30px;
    text-align: center;
}

#downhead h2 {
    font-size: 30px;
    color: #555;
    text-shadow: 2px 2px 2px #999;
}

#downhead p {
    font-size: 20px;
    color: #777;
    padding: 0 50px 30px 50px;
}

#downhead img {
    border: 5px solid #ccc;
}

/*-- Bottom Toolbar --*/

div#toolbarTop{
    position: fixed; /* set fixed position for the bar */
    bottom: 40px;
    right: 0px;
    z-index: 9999; /* keep the bar on top  */
    height: 0px;
    width: 85%;
    min-width: 700px; /* to limit the width when an excessive window resize */
    margin: 0px auto; /* centered toolbar */
    left: 0px;
}

div#toolbar, div#toolbarbut {
    position: fixed; /* set fixed position for the bar */
    bottom: 0px;
    right: 0px;
    z-index: 9999; /* keep the bar on top  */
    height: 40px;

    /*background: url(images/bcktool.png);*/
    /* CSS3 */
    -moz-box-shadow: 0px 1px 10px #666, inset 1px 1px 0px #a4a4a4; /* inset creates a inner-shadow */
    -khtml-box-shadow: 0px 1px 10px #666;
    -webkit-box-shadow: 0px 1px 10px #666;
    /* CSS3 end */
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

div#toolbar {
    width: 100%;
    min-width: 700px; /* to limit the width when an excessive window resize */
    margin: 0px auto; /* centered toolbar */
    left: 0px;
    background-image:url(images/noisy.png);
    background-repeat:repeat;
}

div#toolbarbut { /* div for the 'hide status' */
    width: 60px;
    height: 15px;
    margin-right: 3%;
    display: none;
}

span.showbar a { /* show button */
    padding: 5px;
    font-size: 10px;
    color: #989898;
}

.leftside {
    float: left;
    /*background-color: darkkhaki;*/
}

.rightside {
    float: right;
}


/*-- Right Side --*/

span.downarr { /* hide button */
    float: right;

}

span.downarr a {
    display: block;
    width: 46px;
    height: 40px;
    /*padding: 25px 0 0 10px;*/
    background: url(images/downarrow.png) no-repeat 5px 7px;
}

span.menu_title {
    background: #e4e4e4;
    border-left: 1px solid #a4a4a4;
    padding: 10px;
}

span.menu_title a {
    font-size: 16px;
    line-height: 34px;
    color: #9a9a9a;
}

.quickmenu {
    position: absolute; /* important */
    top: -251px;
    right: 46px;
    width: 260px;
    height: 250px;
    background: #e4e4e4;
    border-top: 1px solid #a4a4a4;
    border-left: 1px solid #a4a4a4;
    border-right: 1px solid #a4a4a4;
    /* CSS3 */
    -moz-box-shadow: 2px -3px 5px #c5c5c5, -3px 0px 5px #cdcdcd;
    -khtml-shadow: 2px -3px 5px #c5c5c5, -3px 0px 5px #cdcdcd;
    -webkit-box-shadow: 2px -3px 5px #c5c5c5, -3px 0px 5px #cdcdcd;
    /* CSS3 end */
    display: none; /* important */
}

.quickmenu ul {
    padding-top: 20px;
}

.quickmenu ul li {
    border-bottom: 1px solid #989898;
    padding: 5px 10px;
    margin: 0 15px 0 15px;
}

.quickmenu ul li a {
    font-size: 18px;
    color: #989898;
    display: block;
}

.quickmenu ul li a:hover {
    color: #666;
}

/*Animation*/
.rotateUp{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.rotateDown{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

/*assets*/
.customBrand{
    display: block;
    float: left;
    padding: 7px 8px 10px 20px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 400;
    color: #777;
    text-shadow: 0 1px 0 #fff;
}
.totalPlayers{
    color: #2e8b57 !important;
    font-weight: bold;
    display: block;
    float: left;
    padding: 10px 0px 10px 0px !important;

}

.playerName{
    color: #2e8b57;
    font-family: inherit;
    font-weight: bold;
    text-rendering: optimizelegibility;
    padding: 10px 8px 10px 20px;
    display: block;
}

.icon-star{
    margin-top: 5px !important;
}

.spinner{
    width: 30px;
    display: inline-block;
    bottom:2px;
    left:20px;
}

.shadow {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.shadowOuter {
    -moz-box-shadow:    0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow:         0 0 10px #000000;
}

.table td, .table th {
    border-color: #2b2a2b;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #202020;
}

.appendedInputButton {
    width:80%;
}

/* table list */
.extraspace{
    padding-left: 30px;
    padding-right: 30px;
}


/*chat area*/
#chatBox{
    float:left;
    width:300px;
    height:250px;
    /*padding:10px;*/
    overflow-y: scroll;
}

.chatList{
    /*float:left; *//* this is important to get Height of this list */
}
.chatList ul{
    overflow: hidden;
}
.chatList li{
    /*background-color: #f08080;*/
    width:100%;
    height: 100%;
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
    display: inline-block;
}

.chatList li:first-child{
    /*padding: 0px 0px 10px 10px;*/
}
.username{
    font-weight: bold;
    float:left;
    display: block;
    width:30%;
    vertical-align: middle;

    /*background-color: inherit;*/
    min-height: 40px;

}
.username span{
    display: block;
    padding-left:5pt;
}

.bubble {
    width: 69%;
    min-width: 69%;
    display: block;
    /*background: url('images/commentBg.png') no-repeat;*/
    float:left;
    background-color: white;
    border-radius:0px 8px 8px 8px; -moz-border-radius:0px 8px 8px 8px; -webkit-border-radius:0px 8px 8px 8px;
    -moz-box-shadow:    inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow:         inset 0 0 5px #000000;
}

.message{
    /*width:100%;*/
    /*display: block;*/
}

.bubbleInner {
    padding: 10px;
}

/* chat textbox */
.input-append{
    margin-left:0px !important;
}

.timestamp{
    padding:0px 0px 0px 0px;
    float: right;
    font-weight: bolder;
}

.timestamp span{
    font-size: 0.9em;
    /*color: white;*/
}

.padding0{
    margin-left: 5px;
    min-width: 50px;
    padding:10px 0px;
    -moz-box-shadow:    inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow:         inset 0 0 5px #000000;

}

/*Utility*/
.roundBorder {border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px;}
.roundBorderTopLeft {border-radius:0px 5px 5px 5px; -moz-border-radius:0px 5px 5px 5px; -webkit-border-radius:0px 5px 5px 5px;}
.roundBorderLeft {border-radius:0px 5px 5px 0px; -moz-border-radius:0px 5px 5px 0px; -webkit-border-radius:0px 5px 5px 0px;}
.roundBorderRight {border-radius:5px 0px 0px 5px; -moz-border-radius:5px 0px 0px 5px; -webkit-border-radius:5px 0px 0px 5px;}
.roundBorderBottom {border-radius:7px 7px 0px 0px; -moz-border-radius:7px 7px 0px 0px; -webkit-border-radius:7px 7px 0px 0px;}

.bootbox{
    z-index: 10000;
}